<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-center">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>  <a href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a>
      </div>
    </div>
  </div>
</footer>