<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-center">
    		&copy; <%= date(new Date(), 'YYYY') %> <a href="https://github.com/xiniur/xiniur.github.io" target="_blank">Xiniur</a> <a href="http://hexo.io/" target="_blank">Hexo</a> <a href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a>
    	</div>
    </div>
  </div>
</footer>