.left-col {
	background: #fff;
	width: 300px;
	position:fixed;
	opacity:1;
	transition:all .2s ease-in;
	height:100%;
	z-index: 999;
	.overlay{
		width: 80%;
		height: 120px;
		margin: 30px 30px 0;
		background-color: black;
		position: absolute;
		opacity: 0.8;
	}
	.header-title{
		text-align: center;
		margin: 30px auto 0;
		color: #fff;
		font-family: Arial, "Arial", serif;
		font-size: 25px;
		line-height: 25px;
		transition: 0.3s;
	}
	.header-subtitle{
		text-align: center;
		color: #fff;
		margin: 20px auto 0;
		font-size: 15px;
		overflow: hidden;
		line-height: 15px;
	}
	.intrude-less {
		width: 80%;
		text-align: center;
		margin: 150px auto 0;
	}

	#header{
		width:100%;
		height: 188px;
		position: relative;
		border-bottom: 1px solid color-border;
		a {
			color: #696969;
			&:hover {
				color: #B0A0AA;
			}
		}
	}
	.profilepic{
		text-align: center;
		display: block;
		border: 5px solid #fff;
		border-radius: 300px;
		width: 128px;
		height: 128px;
		margin: 30px 50px;
		position: absolute;
		overflow: hidden;
		background: #88acdb;
		-webkit-transition: all 0.2s ease-in;
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		img{
			border-radius: 300px;
			opacity: 1;
			-webkit-transition: all 0.2s ease-in;
			&.show{
				width: 100%;
				height: 100%;
				opacity: 1;
			}
		}
	}
	.menu{
		font-weight: 300;
		line-height: 31px;
		cursor: pointer;
		text-transform: uppercase;
		float:none;
		min-height: 50px;
		margin-left: 0;
		text-align: center;
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		li{
			cursor: default;
			a{
				font-size: 14px;
				min-width: 300px;
			}
		}
	}
	.smart-menu {
		padding: 10px;
		font-size: 12px;
		margin: auto;
		a {
			&:after {
				content: ' /'
			}
			&:last-child {
				&:after {
					content: ''
				}
			}
		}
	}
}